@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Normalization */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    background-color: black;
}

body {
    margin: 0;
    border: 0;
    vertical-align: baseline;
    background-color: white;
}

/*----------------------- GENERAL ---------------------*/

:root {
    --red: #DB0048;
    --green-light: #e5ffef;
    --green-dark: #00792d;
    --turq-light: #e6fffb;
    --turq-dark: #027f6e;
    --yellow-dark: #ffbf00;
    --yellow-light: #fff9e5;
    --purple-dark: #9065b0;
    --grey-dark: #e7fefb;
    --lightgrey: rgb(243, 243, 243);
    --midgrey: hsla(0, 0%, 70%, 1);
    --shadow: hsl(0, 0%, 50%);
    --zebra: hsla(0, 0%, 70%, 1);
}

h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h2 {
    font-size: 26px;
    line-height: 1.1em;
}

h3 {
    font-size: 14px;
    line-height: 1.3em;
    padding: .8em 0 .3em;
}

h4 {
    font-size: 16px;
    line-height: 1.3em;
}

p {
    font-size: 14px;
    line-height: 1.3em;
}


/*----------------------- Navigation -------------------------*/


nav {
    position: relative;
    display: flex;
    padding: 5px 0px 10px;
    justify-content: space-between;
}

#menu {
    font-size: 2rem;
    padding: 3px 7px 6px;
    background-color: transparent;
    color: black;
    position: absolute;
    right: 10px;
    align-items: center;
    justify-content: center;
    border: none;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

nav ul li a:hover {
    color: gray;
}

.navigation a.current-page {
    color: white;
    background: var(--turq-dark);
    padding: 5px;
    border: none;
}

/*  Logo */
nav img {
    width: 8rem;
    height: auto;
    padding: 10px 0 10px 10px;
}

img#logo.open {
    display: none;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 30px;
    margin-top: 0px;
}

ul.navigation {
    list-style: none;
    flex: 1;
    margin: 0px;
    padding: 0;
}

.navigation li {
    display: none;
    padding-bottom: 10px;
}

.navigation li a {
    color: black;
    font-size: 1.3em;
    font-weight: 200;
    text-decoration: none;
}



/* when clicked, the class ".open" will be added by Javascript. The css for .open as follows. */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.open li:last-child a {
    padding-bottom: 0px;
}

.navigation.open {
    text-align: center;
}

/*----------------------------- HIGHT TEMP ABOVE HERO SECTION ------------------------------*/
#high-temp-message {
    background-color: var(--turq-light);
    color: black;
    padding: 5px;
    text-align: center;
}

#high-temp-message button {
    margin-left: 15px;
    background-color: black;
    border: none;
}

/* ------------------------------------ HEADER ------------------------------------*/

/*  To remove the unwanted gap between the hero and nav I added the bg color to match the nave */
header {
    background-color: var(--grey-dark);
}

.hero img {
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
    width: 100%;
}

.headings {
    position: absolute;
    bottom: 5%;
    right: 5%;
    text-align: center;
    padding: 15px 15px 25px;
    background-color: rgba(0, 0, 0, 0.8);
}

.headings h1 {
    margin: 0;
    color: white;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.2em;
}

.headings p {
    font-size: 12px;
    color: white;
    margin: 3px 0 1.5rem;
}

.headings a.cta {
    margin-top: 10px;
    background-color: var(--yellow-dark);
    color: black;
    font-size: 14px;
    padding: .8em 1.5em;
    border: none;
    text-decoration: none;
}

/* ---------------------- CONTACT INFO ON HOME PAGE BELOW HERO SECTION ------------------------*/
.home-contacts div {
    text-align: center;
    padding: .5em 1em;
    background-color: white;
}

.home-contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding: 20px;
    background-color: var(--turq-dark)
}

/* ---------------------- HOME PAGE COMPANY DESCRIPTIONS ------------------------*/

.home-desc {
    padding: 20px 0px;
    margin: 0 2.5rem;
}

.home-desc h2 {
    margin-bottom: 1.2rem;
}

/* --------------------------------- HOME PAGE BLURBS --------------------------------*/
.home-blurb img {
    width: 40%;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

section.home-services {
    background-color: var(--turq-light);
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.home-blurb {
    width: 300px;
    text-align: center;
    background-color: black;
    padding: 30px 0px;
    margin: 20px 10px;
}

.home-blurb h4,
.home-blurb p {
    color: white;
}

.home-blurb h4 {
    margin-bottom: .5rem;
}

/* --------------------------------- HOME WEATHER --------------------------------*/

section.weather {
    text-align: center;
    padding: 20px 0px;
}

h4#todays-weather-label,
h4#tomorrows-forecast-label {
    margin: 0px 5px 20px;
}

figure img {
    width: 50px;
}

#weather-app figure {
    margin: 20px 0px;
}

div#current-temp,
div#dayofweek1,
div#forecast,
.humidity {
    font-size: 16px;
    line-height: 2em;
}

div#weather-app {
    display: flex;
    justify-content: center;
}

.today {
    margin-right: 10px;
}

.tomorrow {
    margin-left: 10px;
}

.weather-2cols {
    padding: 20px;
}

.humidity {
    margin-top: 20px;
}

/*--------------------------------- Footer -------------------------------*/

footer {
    background-color: var(--turq-light);
    padding: 30px 3px;
}

footer p,
.footer-links a {
    color: black;
    margin: 5px;
}

.footer-links a.attr:hover {
    color: var(--midgrey);
}

.footer-info,
.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lastModified {
    text-align: center;
}

/*
=======================
===== RENTALS PAGE ====
=======================
*/
.rentals main {
    padding: 30px 0px 40px;
}

.rentals h2 {
    text-align: center;
    color: var(--green-dark);
}

/* --------------------------------- BLURBS --------------------------------*/
.rentals-blurb img {
    width: 50%;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

section.rentals-services {
    background-color: white;
    padding: 20px;
    margin: 2rem auto 5rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.rentals-blurb {
    width: 200px;
    text-align: center;
    background-color: black;
    padding: 30px 10px;
    margin: 20px 10px;
}

.rentals-blurb h4,
.rentals-blurb p {
    color: white;
}

.rentals-blurb h4 {
    margin-bottom: .5rem;
}

/*---------------------- table --------------------------*/
.rentals main {
    margin: 0 auto;
}

.rentals table {
    text-align: center;
    margin: 0 auto;
    border: thin solid var(--lightgrey);
    box-shadow: 0 0 10px var(--shadow);
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    padding: 0 5px;
}

.rentals caption {
    padding: 10px;
    caption-side: bottom;
    color: var(--black);
    font-size: 16px;
}

.rentals tr:first-child th,
.rentals tr:nth-child(2) th:first-child {
    background-color: var(--green-dark);
    color: white;
    border-color: var(--green-dark);
}

.rentals th {
    font-size: 16px;
    padding: 8px 10px;
    border: 1px solid var(--midgrey);
}

.rentals td {
    font-size: 12px;
    padding: 8px 5px;
    border: 1px solid var(--midgrey);
}

.rentals tr:nth-child(2) th:not(:first-child) {
    background-color: var(--turq-light);
    border-right: 1px solid var(--midgrey);
}

.rentals td {
    text-align: center;
}

.rentals tbody tr:nth-child(even) {
    background-color: var(--lightgrey);
}

tbody tr:first-child {
    background-color: var(--turq-light);
}

/*
==============================================
===== RESERVATIONS PAGE plus CONTACT FORM ====
==============================================
*/

.reservations .form h2,
.contact .form h2 {
    text-align: center;
    color: var(--green-dark);
}

/*---------------------- Form --------------------------*/
.reservations fieldset,
.contact fieldset {
    margin: 2rem 0;
    border: 1px solid var(--green-dark);
    padding: .5rem 2% 1.2rem;

}

.reservations main,
.contact main {
    margin: 3rem auto;
}

.reservations form,
.contact form {
    width: 90%;
    margin: 0 auto;
}

.reservations form legend,
.contact form legend {
    color: var(--green-dark);
    margin: 0 1rem;
    padding: 0 .5rem;
}

.reservations form label.top,
.contact form label.top {
    display: block;
    color: black;
    padding-top: 1rem;
    font-size: 1rem;
}

.reservations form label.top input,
.contact form label.top input {
    -webkit-appearacne: none;
    display: block;
    background-color: var(--lightgrey);
    font-size: 1rem;
    border: 1px solid var(--midgrey);
    padding: .75rem;
    width: calc(100% - 1.5rem);
    max-width: 20rem;
    box-sizing: border-box;
}

.reservations form label.sbs {
    display: block;
    padding: .75rem 0;
    color: black;
    font-size: 1rem;
}

.reservations .reservation-info #bizname {
    margin: 0rem 0 1rem;
}

/*  Form Button Styling */
.reservations input.submitBtn,
.contact input.submitBtn {
    font-size: 14px;
    background-color: var(--yellow-dark);
    border: none;
    padding: .8em 1.5em;
    color: black;
    margin-bottom: 2em;
    width: 60%;
}

.reservations input.submitBtn:hover,
.contact input.submitBtn:hover {
    background-color: var(--yellow-light);
}

label.spec-req textarea {
    display: block;
    background-color: var(--lightgrey);
    font-size: 1rem;
    border: 1px solid var(--midgrey);
    padding: 0.75rem;
    width: calc(100% - 1.5rem);
    max-width: 20rem;
    box-sizing: border-box;
    height: 8rem;
}

label.spec-req {
    font-size: 16px;
    color: black;
    display: block;
    margin-top: .8rem;
}

/*---------------------- Agreement --------------------------*/

.agreement {
    background-color: var(--lightgrey);
    padding: 2rem 10px;
    margin: 2rem .8rem;
}

.agreement h2 {
    text-align: center;
}

.agreement ul {
    width: 70%;
    margin: 0 auto;
    padding: 1.5rem 0;
}

.agreement li {
    font-size: 16px
}

/*
=======================
===== CONTACT PAGE ====
=======================
*/

.contact-container {
    max-width: 960px;
    width: 90%;
    margin: 2rem auto;
}

.our-info {
    width: 90%;
    margin: 2rem auto;
    padding: 15px 15px 25px;
    background-color: var(--lightgrey);
}

.our-info h3 {
    font-size: 20px;
    color: black;
    margin: 0 0 .5rem;
}

div.our-info h2 {
    color: var(--green-dark);
    margin: 1rem 0 0;
}

.our-info p {
    font-size: 16px;
}


.our-info div:first-child {
    padding-bottom: 1rem;
}

/*
=======================
===== ATTRIBUTIONS ====
=======================
*/

.facebook-icon img {
    width: 48px;
    height: 48px;
}

/*
=======================
=====   THANK YOU  ====
=======================
*/

.thankyou main {
    margin: 2rem auto;
    padding: 0 2rem;
}

.thankyou .headings p {
    margin: .3rem 0;
    font-size: 16px;
}

.thankyou .headings {
    padding: 15px;
}

.thankyou .headings h1 {
    font-size: 30px;
}