@media (min-width: 981px) {

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 18px;
        line-height: 1.5em;
    }

    h4 {
        font-size: 22px;
        line-height: 1.5em;
    }

    p {
        font-size: 18px;
        line-height: 1.5em;
    }

    nav img {
        padding-top: 0px;
    }

    nav {
        padding: 20px 10px 10px;
    }

    .navigation li a {
        font-size: 1.3em;
        padding-left: 5px;
    }

    /*------------------------- HOME HERO SECTION ------------------------*/

    body {
        max-width: 1500px;
        margin: 0 auto;
    }

    .headings {
        padding: 50px 50px 60px;
    }

    .headings h1 {
        font-size: 60px;
    }

    .headings p {
        font-size: 25px;
        margin-bottom: 1.3rem;
        margin-bottom: 3rem;
    }

    .headings a.cta {
        font-size: 28px;
        margin-top: 30px;
    }

    /* ---------------------- CONTACT INFO ON HOME PAGE BELOW HERO SECTION ------------------------*/

    .home-contacts {
        grid-gap: 3em;
        padding: 20px 40px;
    }

    /* ---------------------- HOME PAGE COMPANY DESCRIPTIONS ------------------------*/

    .home-desc h2 {
        margin-bottom: 1.5rem;
    }

    .home-desc {
        margin: 0 auto;
    }

    /* --------------------------------- HOME PAGE BLURBS --------------------------------*/

    .home-blurb img {
        width: 60%;
        margin-bottom: 2rem;
    }

    .home-blurb h4 {
        margin-bottom: 1rem;
    }


    /* --------------------------------- HOME WEATHER --------------------------------*/

    div#current-temp,
    div#dayofweek1,
    div#forecast,
    .humidity {
        font-size: 20px;
    }

    .today {
        margin-right: 4rem;
    }

    .tomorrow {
        margin-left: 4rem;
    }

    .weather-2cols {
        padding: 30px 20px;
    }

}