@media (min-width: 620px) {

    /*------------------------- GENERAL ------------------------*/

    h3 {
        font-size: 16px;
        line-height: 1.5em;
    }

    h4 {
        font-size: 20px;
        line-height: 1.5em;
    }


    p {
        font-size: 16px;
        line-height: 1.5em;
    }


    /* Navigation */
    button#menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
        margin: 0px auto;
        justify-content: end;
        max-width: 1600px;
        padding-bottom: 20px;
    }

    .navigation li {
        display: block;
        padding-right: 15px;
    }

    .navigation li a {
        font-size: 1.1em;
    }

    /*  Logo */
    nav img {
        width: 10rem;
        height: auto;
    }

    /* Footer */
    .footer-info {
        flex-direction: row;
        justify-content: center;
    }

    /*------------------------- HOME HERO SECTION ------------------------*/

    .headings {
        padding: 40px 40px 45px;
    }

    .headings h1 {
        font-size: 40px;
    }

    .headings p {
        font-size: 18px;
        margin-bottom: 2.3rem;
    }

    .headings a.cta {
        font-size: 20px;
        padding: .7em 2em;
        margin-top: 20px;
    }

    /* ---------------------- CONTACT INFO ON HOME PAGE BELOW HERO SECTION ------------------------*/

    .home-contacts {
        grid-gap: 2em;
    }

    /* ---------------------- HOME PAGE COMPANY DESCRIPTIONS ------------------------*/

    .home-desc {
        max-width: 900px;
        margin: 0 4.5rem;
        padding: 40px 0;
    }

    /* --------------------------------- HOME PAGE BLURBS --------------------------------*/

    .home-blurb img {
        width: 50%;
        margin-bottom: 1.5rem;
    }

    .home-blurb h4 {
        margin-bottom: 1rem;
    }


    /* --------------------------------- HOME WEATHER --------------------------------*/

    div#current-temp,
    div#dayofweek1,
    div#forecast,
    .humidity {
        font-size: 18px;
    }

    .today {
        margin-right: 3rem;
    }

    .tomorrow {
        margin-left: 3rem;
    }

    .weather-2cols {
        padding: 25px 20px;
    }


    /*
=======================
===== ATTRIBUTIONS ====
=======================
*/
    .attributions .grid-container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill minmax(600px 1fr));
        padding: 10px;
    }

    .attributions .grid-item {
        padding: 20px;
        text-align: center;
    }

    .attributions figure img {
        width: 50%;
        height: auto;
    }
}