@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

/* Normalization */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    border: 0;
    vertical-align: baseline;
}

/* Colors */

:root {
    --red: #ff4400;
    --green-light: #e7edde;
    --green-dark: #3D4C29;
    --grey-dark: #2A2E30;
    --lightgrey: hsla(0, 0%, 93%, 1);
    --midgrey: hsla(0, 0%, 70%, 1);
    --shadow: hsl(0, 0%, 50%);
    --zebra: hsla(0, 0%, 70%, 1);
}

/* 
==============
=== Header ===
==============
 */

/*  To remove the unwanted gap between the hero and nav I added the bg color to match the nave */
header {
    background-color: var(--grey-dark);
}

.hero img {
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
    width: 100%;
}

.headings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.headings h1 {
    margin: 0;
    color: white;
    font-size: 1.5em;
    text-align: center;
}


.headings .cta {
    margin-top: 1.5rem;
    background-color: var(--red);
    color: white;
    font-size: .7em;
    padding: .8em 1.5em;
    border: none;
}



/*  Toggle Switch */

.switch {
    position: absolute;
    width: 60px;
    height: 34px;
    right: 10px;
    top: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--green-dark);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--grey-dark);
}


input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}


input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/*  this is the end of toggle switch */



/* 
================
===Navigation===
================
 */


nav {
    background-color: var(--grey-dark);
    position: relative;
    display: flex;
    padding: 5px 10px 10px;
    justify-content: space-between;
}

#menu {
    font-size: 2rem;
    padding: 3px 7px 6px;
    background-color: transparent;
    color: white;
    position: absolute;
    right: 10px;
    align-items: center;
    justify-content: center;
    border: none;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

/*  Logo */
nav img {
    width: 50px;
    height: 50px;
}

.navigation {
    background-color: var(--grey-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 30px;
    margin-top: 0px;
}

ul.navigation {
    list-style: none;
    flex: 1;
    margin: 0px;
    padding: 0;
}

.navigation li {
    display: none;
    padding-bottom: 10px;
}

.navigation li a {
    color: white;
    font-size: 1.3em;
    font-weight: 200;
    text-decoration: none;
}

/* when clicked, the class ".open" will be added by Javascript. The css for .open as follows. */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.open li:last-child a {
    padding-bottom: 0px;
}

.navigation.open {
    text-align: center;
}

/*  
==========
===Main===
==========
 */

main {
    max-width: 1000px;
    margin: 0px auto;
    padding: 20px;
}

section {
    margin: 0px 0px 50px;
}

h2 {
    font-size: 1.3rem;
    color: var(--red);
    text-align: left;
}

.weather {
    background-color: var(--green-light);
    padding: 20px 50px;
}

.weather p {
    text-align: left;
}

/*---------------------- Lazy Loading --------------------------*/

.disc-img figure {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 0 2rem 0;
}

.disc-img img {
    width: 100%;
    height: auto;
    display: block;
}



/*
=============
=== Footer=== 
=============
*/

footer {
    background-color: var(--grey-dark);
    padding: 30px 3px;
}

footer p {
    color: white;
    margin: 5px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lastModified {
    text-align: center;
}

/*---------------------- join.html --------------------------*/
main.join {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

main.join .form,
main.join .table {
    flex: 1 1 45%;
    width: 100%;
    table-layout: auto;
}

/*---------------------- table om join.html --------------------------*/
table {
    border: thin solid var(--lightgrey);
    box-shadow: 0 0 10px var(--shadow);
    border-collapse: collapse;
}

caption {
    padding: 10px;
    caption-side: bottom;
    color: var(--black);
    font-size: 1.1em;
}

tr:first-child th,
tr:nth-child(2) th:first-child {
    background-color: var(--grey-dark);
    color: white;
    border-color: var(--grey-dark);
}

th,
td {
    font-size: .8rem;
    padding: 8px 10px;
    border: 1px solid var(--midgrey);
}

tr:nth-child(2) th:not(:first-child) {
    background-color: var(--red);
    border-right: 1px solid var(--midgrey);
}

td {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: var(--lightgrey);
}

/*---------------------- Form on join.html --------------------------*/
fieldset {
    margin: 2rem 0;
    border: 1px solid var(--grey-dark);
    padding: .5rem 2% 1.2rem;

}

form legend {
    color: var(--red);
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    dolor: var(--grey-dark);
    padding-top: 1rem;
    font-size: .8rem;
}

form label.top input {
    --webkit-appearacne: none;
    display: block;
    background-color: var(--lightgrey);
    font-size: 1rem;
    border: 1px solid var(--midgrey);
    padding: .75rem;
    width: calc(100% - 1.5rem);
    max-width: 20rem;
    box-sizing: border-box;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: var(--grey-dark);
}

.company-info #bizname {
    margin: 0rem 0 1rem;
}