@media (min-width: 981px) {

    .hero .headings h1 {
        font-size: 3.5em;
        padding: 1.1rem 20px;
    }

    .home-page .hero .headings h1 {
        font-size: 2.5rem;
    }

    .headings button.cta {
        font-size: 1em;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    .home-page h2,
    .join .form h2 {
        font-size: 1.8rem;
    }

    .events p,
    .spot-3 p {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .spot-3 p {
        margin: 0 0 0.5rem;
    }

    .weather p {
        font-size: 1.2rem;
        line-height: 1rem;
    }

    /*
=================
=== JOIN PAGE ===
=================
*/


    main.join {
        padding: 20px;
    }

    /*
======================
=== DIRECTORY PAGE ===
======================
*/

    .directory section h2 {
        font-size: 1.1em;
    }

    .directory section p,
    .directory section a {
        font-size: .9em;
    }

    .directory .list section {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

}

@media (min-width: 857px) {
    main.join .table {
        margin-top: 6rem;
    }
}

/*
 ============================== 
 ==== HOME PAGE SPOTLIGHT =====
 ==============================
 */
@media (min-width: 700px) {
    div#spotlights {
        grid-template-columns: 1fr 1fr 1fr;
    }

    div#spotlights img {
        width: 50%;
    }


}