@media (min-width: 981px) {

    .hero .headings h1 {
        font-size: 2.5em;
    }

    .headings button.cta {
        font-size: 1em;
    }

    footer {
        display: flex;
        justify-content: center;
    }


    /*
=================
=== JOIN PAGE ===
=================
*/


    main.join {
        padding: 20px;
    }

    /*
======================
=== DIRECTORY PAGE ===
======================
*/

    .directory section h2 {
        font-size: 1.1em;
    }

    .directory section p,
    .directory section a {
        font-size: .9em;
    }

    .directory .list section {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

}

@media (min-width: 857px) {
    main.join .table {
        margin-top: 6rem;
    }
}