@media (min-width: 620px) {

    /*  Main */
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px 30px;
        padding: 60px 40px;
    }

    section.events {
        grid-column: 1/2;
    }

    section.weather {
        grid-column: 2/3;
        margin: 0px;
    }

    section.spot-1 {
        grid-column: 1/2;
    }

    section.spot-2 {
        grid-column: 2/3;
    }


    /* Footer */
    .footer-info {
        flex-direction: row;
        justify-content: center;
    }


    /* Navigation */
    button#menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
        margin: 0px auto;
        justify-content: end;
        max-width: 1600px;
        padding-bottom: 20px;
    }

    .navigation li {
        display: block;
        padding-right: 30px;
    }

    /*  Logo */
    nav img {
        width: 80px;
        height: 80px;
    }

    /*
=====================
=== DISCOVER PAGE ===
=====================
*/

    .disc-contents section {
        border: 1px solid #000;
    }

    .disc-contents h2 {
        margin-top: 0px;
        padding: 10px 20px;
        background-color: #3D4B26;
        color: #fff;
        line-height: 1.2em
    }

    .disc-contents p {
        padding: 10px 20px;
        line-height: 1.4em
    }


    .disc-img figure {
        margin: 0px;
        padding-bottom: 50px;
    }

}