@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: "Poppins", sans-serif;
}

header {
    background-color: rgb(243 247 231);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}

h1 {
    color: #e20b6d;
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}

header img {
    width: 17vh;
    height: auto;
}

nav {
    position: relative;
}

#menu {
    font-size: 2rem;
    padding: 3px 7px 6px;
    background-color: transparent;
    color: white;
    position: absolute;
    right: 10px;
    align-items: center;
    justify-content: center;
    border: none;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.navigation {
    background-color: rgb(24 24 24);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px 0px;
    margin-top: 0px;
    list-style: none;
    margin: 0;
}

.navigation li {
    display: none;
    padding-bottom: 10px;
}

.navigation li a {
    color: white;
    font-size: 1.3em;
    font-weight: 200;
    text-decoration: none;
    transition: all .3sec ease-in-out;
}

nav ul li a:hover {
    color: gray;
}


/* when clicked, the class ".open" will be added by Javascript. The css for .open as follows. */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.open li:last-child a {
    padding-bottom: 0px;
}

.navigation.open {
    text-align: center;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
}

/*  Hero Image - Logan Temple and the lable  */
.hero img {
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
}

/* Logan Temple Lable and Gradient */
.herolabel {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background: radial-gradient(rgba(255, 255, 255, 1) 43%, rgba(219, 220, 216, 1) 60%, rgba(25, 31, 6, 05) 80%);
    border: 1px solid rgba(0, 0, 0, .30);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    /* Buenas */
}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Great Vibes", serif;
}

main h2,
section {
    margin-right: 10px;
    margin-left: 10px;
}

main h2 {
    border-bottom: 1px solid;
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    padding-bottom: 10px;
    line-height: 2rem;
    max-width: 100%;
}

section.card {
    border: 1px solid;
    margin-bottom: 20px;
}

section h3 {
    background-color: #d60e6c;
    color: white;
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
    margin: 0px;
    max-width: 100%;
}

section p {
    text-align: center;
}


.card ul {
    list-style-type: none;
    padding-left: 20px;
}

.card li {
    padding-bottom: 5px;
}

.card li a {
    color: rgb(109 123 67);
}

/*---------- WEATHER INFORMATION SECTION ON HOME PAGE ------------*/
.card2 figure h2 {
    font-size: 1.5em;
    margin-bottom: 0px;
    border: none;
    padding-bottom: 0;
}

.card2 img {
    width: 50px;
    height: auto;
}

section.card2 figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    display: grid;
    max-width: 1000px;
    width: 98vw;
}

footer {
    background-color: rgb(243 247 231);
    padding: 35px 0px;
}

footer p {
    text-align: center;
    color: rgb(24, 24, 24);
    font-weight: 300;
    line-height: 1.8;
    margin: 0px;
}

footer img {
    width: 10%;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}